header {
    background-color: rgb(216, 34, 216)
}

header{
 text-align: center,   
}
header table tr td h1 {
    text-align: center;
}
header img {
width: 50 ;
 }


table {
  width: 100%;  
}
body main p h3 {
   background-color:rgb(155, 99, 14) 
}
